 html, body {
    background-color: #0f0f0f;
    color: #636b6f;
    font-family: myFont;
    font-weight: 200;
    height: 100vh;
    margin: 0;

}

@font-face {
  font-family: myFont;
  src:url("../fonts/website_font.ttf")
}

.top-right {
    position: absolute;
    font-size: 10px;
    top:7px;
    right: 10%;
    color:white;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.my_cont{
    margin-left: 14%;
}

.navbarmenu_div{
    height: 100%;
    width: 17%;
}

.navbarmenu_div p{
    color:white;
    opacity: 0.9;
    text-decoration: none;
}

.fb-button{
    width:;
}

.navbar-item:hover,.navbarmenu_div:hover{
    cursor: pointer;   
}

/*.navbarmenu_div:hover{
    -webkit-border-image: -webkit-linear-gradient(transparent 10%, white 10%, transparent 90%) 0 1 0 1 / 3px;
    -o-border-image: -o-linear-gradient(transparent 10%, white 10%, transparent 90%) 0 1 0 1 / 3px;
    border-image: linear-gradient(transparent 10%, white 10%, transparent 90%) 0 1 0 1 / 3px;
    background: black;
    opacity: 0.4;
}*/
.navbarmenu_div p:hover{
    opacity: 0.7;
}

.top-left,links a{
    height: 100%;
    padding: 51px 0;
    background: black;
}

.links a:hover{
    color: black;
    background: white;
    opacity: 0.2;
}

.links > a:hover{
    color: white;
}
.links > a {
    color:white;
    opacity: 0.6;
    padding: 0 25px;
    font-weight: 600;
    letter-spacing: 0.04rem;
    text-decoration: none;
}

.top-right a:hover{
   color: grey;
}

.m-b-md {
    margin-bottom: 30px;
}
.list-group-item-dark{ background: darkorange;color:white;  }

aside{
    background: black;
    width: 27%;
    position: absolute;
    right: 0px;
    text-align: center;
}

.top-left {
    position: absolute;
    left: 15%;
}

.before-head{
    width: 100%;
    height: 30px;
    background: #282828;
}

.fb-button{
    color:white;
    background:#4267b2;
    border: none;
    border-radius: 2px;
    font-family: arial;
    position: absolute;
    width: 9%;
    float: right;
    top:0.4%;
    right:0.4%;
}


.navbar{
    height: 110px;
    font-size: 22px;
}

.logo{
    position: absolute;
    top:10px;
}

.logo:hover{
    cursor: pointer;
}

.first{
    position: absolute;
    left: 1%;
}

.first .inst{
    color:gold;
}

.first a{
    color: white;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.music_info{
    width: 28.5%;
    height: 100px;
    background: #303030;
    margin:0.4%;
}

.music_info h5{
    color: white;
}

.music_info .img{
    margin-top: 5px;
    background: white;
    border-radius: 50%;
    width: 32%;
    height: 90%;
    background-size:200px;
    background-repeat: no-repeat;
    background-position: center;
}

.music_info .text p{
    color:white;
    height: 100%;
    opacity: 0.7;
    font-size: 70%;
    padding-left:6px;
}

.music_info .text{
    width: 70%;
}

.music_add{
    width: 70%;
    background: white;
    height: 100px; 
    margin-top:0.4%;
}

.music_add div{
    width: 99%;
    height: 92%;
    background: black;
    margin:0.5%;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
}


